<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link href="css/style.css" rel="stylesheet">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="PapaParse-5.0.2/papaparse.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
</head>

<body>
  <div id="app"></div>
  <template id="app-template">
    <header class="container-fluid grid">
      <nav>
        <ul>
          <li>
            <hgroup>
              <h3>Expenses tracker</h3>
              <p>Upload a file for an overview of expenses</p>
            </hgroup>
          </li>
        </ul>
        <ul>
          <li>
            <a href="https://github.com/elpachongco/expenses-cli/" class="contrast">Github</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="container-fluid">
      <article>
        <label for="csv-file" style="display: inline-block; margin: auto 0;">
          <small>Upload expenses.csv file</small>
          <input id="csv-file" type="file" accept=".csv"></input>
        </label>
        <progress v-if="processing" />
      </article>

      <form>
        <fieldset class="grid">
          <label>
            <small>Date from</small>
            <input type="date" name="date" aria-label="Date" v-model="dateRangeFrom">
          </label>
          <label>
            <small>Date to</small>
            <input type="date" name="date" aria-label="Date " v-model="dateRangeTo">
          </label>
          <input type="reset" @click="clearDateRanges" style="margin: auto">
        </fieldset>
      </form>


      <details open>
        <summary>Categorical</summary>
        <article>
          <table>
            <thead>
              <tr>
                <td>Category</td>
                <td>Total</td>
              </tr>
            </thead>
            <tbody>
              <tr v-for="[dateStr, row] in Object.entries(rows_categorical)">
                <td>{{ dateStr }}</td>
                <td>{{ formatMoney(row) }}</td>
              </tr>
            </tbody>
          </table>
        </article>
      </details>

      <div class="grid">

        <details open>
          <summary>Monthly</summary>
          <article>
            <table>
              <thead>
                <tr>
                  <td>Month</td>
                  <td>Total</td>
                </tr>
              </thead>
              <template v-for="[dateStr, row] in Object.entries(rows_monthly)">
                <tbody>
                  <tr>
                    <td>{{ formatMonth(dateStr) }}</td>
                    <td>{{ formatMoney(row) }}</td>
                  </tr>
                </tbody>
              </template>
            </table>
          </article>
        </details>

        <details open>
          <summary>Daily</summary>
          <article>
            <table>
              <thead>
                <tr>
                  <td>Day</td>
                  <td>Total</td>
                </tr>
              </thead>
              <template v-for="[dateStr, row] in Object.entries(rows_daily)">
                <tbody>
                  <tr>
                    <td>{{ formatDay(dateStr) }}</td>
                    <td>{{ formatMoney(row) }}</td>
                  </tr>
                </tbody>
              </template>
            </table>
          </article>
        </details>
      </div>
    </main>
  </template>
  <script src="script.js"> </script>
</body>
</html>
